*{
    padding: 2px;
    margin: 0px;
}


nav {
    height: 100px;
    width: 100vw;
    background-color: rgb(0, 0, 126);
    background: url("imagess\\IoT-nav-pic.png");
    background-size: cover;
}

body {
    background-color: #0b2946;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("imagess\\IoT-nav-pic.png");
    background-size: cover;
    filter: blur(10px);
    z-index: -1;  /* Ensures it stays behind the content */
}



ul, ol, .strong{
    color: white;
    font-family: 'Arial', sans-serif; font-size: 15px;
}

h1{
    color: white;
    text-shadow: 10px 10px 10px rgba(2, 2, 2, 1);
    font-family: 'ui-sans-serif', sans-serif; font-size: 40px;
}

h2{
    color: white;
    text-shadow: 5px 5px 10px rgba(2, 2, 2, 1);
    font-family: 'ui-sans-serif', sans-serif; font-size: 25px;
}

h3, h4{
    color: white;
    text-shadow: 7px 7px 13px rgba(2, 2, 2, 1);
    font-family:'ui-sans-serif', sans-serif; font-size: 16px;
}

ul,ol{
    color: white;
    font-size: 16px;
}



.cloud1{
    height: 100px;
    width: 150px;
    position: absolute;
    left: 100px;
    top: 30px;
}
.cloud2{
    
    height: 100px;
    width: 300px;
    position: absolute;
    right: 40px;
    top: 50px;
}

.parent{
height: 75vh; 
display: flex;
justify-content: center;
align-items: center;
}
.child{
    display:block;
    font-size: 100px;
    text-align: center;
}
.mountain{
    padding: 10px;
    height: 500px;
    width: 1000px;
}
hr{
    border-style: none;
    border-top: dotted;
    border-color: #FFFFFF ;
    width: 60%;
    border-width: 5px;
}
.hr_con{
    margin: 30px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    margin-top: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.img_and_text{
  width:   60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.intro img{
    height: 150px;
    width: 150px;
    margin-right: 20px;
    
}
.myintro{
    width: 60%;
    font-size: 15px;
    font-family: cursive;
}
.intro img:hover{
    height: 180px;
    width: 180px;
    transition: all 0.5s;
}
.bottom_nav{
    margin-top: 20px;
    height: 100px;
    width: 100vw;
    background-color: #57589e;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.doc{
    height: 50px;
    width:50px ;
}
.doc:hover{
    height: 80px;
    width: 80px;
    transition: all 0.5s;
}


/* mobile phones */
@media (max-width: 1000px) {
    .cloud1,.cloud3, .cloud4, .cloud2 {
        display: none;
    }

    nav {
        height: 70px;
        background-size: cover;
    }

    .parent {
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    .mountain {
        padding-top: 20px;
        width: 90%;
        height: auto;
    }

    hr {
        width: 80%;
    }

    .intro {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .img_and_text {
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .intro img {
        height: 120px;
        width: 120px;
        margin: 0;
        display: none;
    }

    .intro img:hover {
        height: 140px;
        width: 140px;
        transition: all 0.5s;
    }

    .myintro {
        width: 90%;
        font-size: 14px;
        text-align: center;
    }

    .bottom_nav {
        flex-direction: row;
        height: auto;
        padding: 15px 0;
        gap: 15px;
    }

    .doc {
        height: 40px;
        width: 40px;
    }

    .doc:hover {
        height: 60px;
        width: 60px;
        transition: all 0.5s;
    }

    h1 {
        font-size: 28px;
        text-align: center;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }

    ul, ol {
        padding: 0 20px;
        text-align: left;
    }
}
